body{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.container{
    display: flex;
    flex-wrap: wrap;
   
    width: 960px;
}  
.column{
   border: solid black 1px;
    box-sizing: border-box;
   
}
