body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    background-color:gold;
    
 
}
.container{
    display: flex;
    flex-wrap: wrap;
   

  
   
    background-color: white;
}  
.column{
   border: solid black 1px;
    box-sizing: border-box;
  
}

