body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    flex-wrap: wrap;
    height:60vh;
    width: 60vh;

}  
.column{
    width: calc(100% / 16);
    height: calc(100% / 16);
    border:1px ;

}
